body{

margin:0;

height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:
linear-gradient(
135deg,
#ff9a9e,
#a18cd1
);

font-family:
Microsoft YaHei;

color:white;

}

.page,
.card{

text-align:center;

padding:40px;

background:
rgba(
255,
255,
255,
0.1
);

border-radius:30px;

}

button{

padding:
15px 35px;

border:none;

border-radius:50px;

font-size:18px;

}
